
.landing-container {
  /* border-image: fill; */
  background-image: url('/images/sms-1.jpg');
  background-color: black;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  height: 100vh; /* full screen height */
  width: 100vw; /* full screen width */
  
}

.pad1{
  padding-top: 10rem;
  padding-right: 1.5rem;
  text-align: center;
}
.subheading {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin-top: 5rem;
  
}

.example-form {
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.footerbg{
  background-color: rgb(240, 177, 243);
  background-size: crgb(229, 229, 229)n;
  background-position:center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  width: 100vw;
}


html {
  scroll-behavior: smooth;
}